section#download.padding.mb-36

    h2 Clipboard for iOS and Mac OS

    p Available for free on the App Store. Download for Mac or iOS, sync with iCloud and you’re ready to start adding to your clipboard.