section.wider-padding.mb-36

    h2 Supercharge your workflow

    p(class="xl:mb-24") We’ve got the tools to boost your productivity.

    div(class="xl:grid xl:gap-10 xl:grid-cols-3")

        div

            img.mx-auto.mb-10(src="../../images/icon-blacklist.svg", alt="An image of a piece of paper with writing on it")

            h3 Create blacklists

            p(class="xl:text-pararaph") Ensure sensitive information never makes its way to your clipboard by excluding certain sources.

        div
        
            img.mx-auto.mb-10(src="../../images/icon-text.svg", alt="An image of the letter A being typed")

            h3 Plain text snippets

            p(class="xl:text-pararaph") Remove unwanted formatting from copied text for a consistent look.

        div

            img.mx-auto.mb-10(src="../../images/icon-preview.svg", alt="An image of a human eye")

            h3 Sneak preview

            p(class="xl:text-pararaph") Quick preview of all snippets on your Clipboard for easy access.