section.padding.mb-36

    h2 Access Clipboard anywhere

    p Whether you’re on the go, or at your computer, you can access all your Clipboard snippets in a few simple clicks.

    img(src="./images/image-devices.png", alt="A phone and tablet both displaying outdoor images with checkmark graphics on top of them")