section#logos.wider-padding.mb-36

    div(class="flex flex-col gap-16 items-center xl:flex xl:flex-row xl:justify-center xl:gap-24 xl:items-center")

        a(href="#logos")
            img(src="./images/logo-google.png", alt="The business logo of Google")
        a(href="#logos")
            img(src="./images/logo-ibm.png", alt="The business logo of IBM")
        a(href="#logos")
            img(src="./images/logo-microsoft.png", alt="The business logo of Microsoft")
        a(href="#logos")
            img(src="./images/logo-hp.png", alt="The business logo of Hewlett Packard")
        a(href="#logos")
            img(src="./images/logo-vector-graphics.png", alt="The business logo of Vector Graphics")