section.snippets-padding.mb-36

    .snippets-heading.mx-auto

        h2 Keep track of your snippets

        p(class="xl:mb-24") Clipboard instantly stores any item you copy in the cloud, meaning you can access your snippets immediately on all your devices. Our Mac and iOS apps will help you organize everything.

    div(class="xl:flex xl:gap-28 xl:-translate-x-6")

        img(class="xl:w-computer xl:h-computer").mb-14(src="./images/image-computer.png", alt="Image of a computer screen displaying an ocean background with a checkmark graphic on top of it")

        div(class="translate-y-20")

            div(class="xl:flex xl:flex-col xl:text-left xl:w-96")

                h3.mb-2 Quick Search

                p.text-pararaph Easily search your snippets by content, category, web address, application, and more.
            
            div(class="xl:flex xl:flex-col xl:text-left xl:w-96")

                h3.mb-2 iCloud Sync

                p.text-pararaph Instantly saves and syncs snippets across all your devices.
            
            div(class="xl:flex xl:flex-col xl:text-left xl:w-96")

                h3.mb-2 Complete History

                p.text-pararaph Retrieve any snippets from the first moment you started using the app.