section.mb-36
    .padding.flex.flex-col.gap-6(class="xl:flex-row xl:justify-center")
        a.btn.btn__1.drop-shadow-lg(href="#download")
            h4 Download for iOS
        a.btn.btn__2.drop-shadow-lg(href="#download") 
            h4 Download for Mac