footer#footer
    nav.bg-clipboard-grey.bg-opacity-10.py-14

        div(class="xl:flex xl:flex-row xl: justify-between items-center xl:px-36 xl:gap-12")

            img.w-14.h-14.mx-auto.mb-12(class="xl:mx-0 xl:mb-0")(src="../../images/logo.svg", alt="Clipboard's business logo")

            ul.nav.flex.flex-col.gap-6.items-center.mb-12(class="xl:grid xl:grid-cols-3 xl:text-left xl:mb-0 xl:items-start xl:gap-x-12")
                li
                    a(href="#footer") FAQs
                li
                    a(href="#footer") Contact Us
                li
                    a(href="#footer") Privacy Policy
                li
                    a(href="#footer") Press Kit
                li
                    a(href="#footer") Install Guide

            div

            ul.social.flex.gap-12.justify-center.items-center(class="xl:gap-2")
                li 
                    a(href="#footer")
                        img(src="../../images/icon-facebook.svg", alt="Social media icon of ") 
                li 
                    a(href="#footer")
                        img(src="../../images/icon-twitter.svg", alt="Social media icon of ") 
                li 
                    a(href="#footer")
                        img(src="../../images/icon-instagram.svg", alt="Social media icon of ") 
