header.header-bg
    .pt-32.padding

        img.mx-auto.mb-16(src="./images/logo.svg", alt="Clipboard's business logo")

        h1 A history of everything you copy

        p Clipboard allows you to track and organize everything you copy. Instantly access your clipboard on all your devices.

block buttons 
section.mb-36
    .padding.flex.flex-col.gap-6(class="xl:flex-row xl:justify-center")
        a.btn.btn__1.drop-shadow-lg(href="#")
            h4 Download for iOS
        a.btn.btn__2.drop-shadow-lg(href="#") 
            h4 Download for Mac